@import './varibles' ;

* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
};

html {
    font-size: 13px
};

body {
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;    //字体平滑
};

a {
    color: #999
};


@each $colorkey, $color in $colors {
    .text-#{$colorkey} {
        color: $color
    }
    .bg-#{$colorkey} {
        background-color: $color;
    }
}

//text
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
};

//text-overflow
.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    //不换行
    white-space: nowrap;
}



@each $sizekey, $size in $font-sizes {
    .fs-#{$sizekey} {
        font-size: $size * $base-font-size;
    }
}

.d-flex {
    display: flex;
};
.flex-column {
    flex-direction: column;
};
.flex-wrap {
    flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
};

@each $key, $value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

.flex-1 {
    flex: 1;
}
//自动拉伸
.flex-grow-1 {
    flex-grow: 1;
}
.fl-1{
    float: left
}

//width
.w-100 {
    width: 100%
}




@each $typekey,$type in $spacing-types {
    //.m-1
    @each $sizekey,$size in $spacing-sizes {
        .#{$typekey}-#{$sizekey} {
            #{$type}: $size * $spacing-base-sizes
        }
    }
    //mx-1  my-1
    @each $sizekey,$size in $spacing-sizes {
        .#{$typekey}x-#{$sizekey} {
            #{$type}-left: $size * $spacing-base-sizes;
            #{$type}-right: $size * $spacing-base-sizes;
        };
        .#{$typekey}y-#{$sizekey} {
            #{$type}-top: $size * $spacing-base-sizes;
            #{$type}-bottom: $size * $spacing-base-sizes;
        }
    }
    //.mt-1
    @each $directionkey,$direction in $spacing-directions {
        @each $sizekey,$size in $spacing-sizes {
            .#{$typekey}#{$directionkey}-#{$sizekey} {
                #{$type}-#{$direction}: $size * $spacing-base-sizes
            }
        }
    }
};

//button
.btn {
    border: none;
    border-radius:0.1538rem;
    font-size: map-get($font-sizes , 'sm' ) * $base-font-size;
    padding: 0.2rem 0.6rem;
}

//nav
.nav {
    display: flex;
    // justify-content: space-around;
    .nav-item {
        border-bottom: 3px solid transparent  ;
        padding-bottom: 0.2rem;
        //&表示上层本身
        &.active {
            color: map-get($colors,'primary') ;
            border-bottom-color: map-get($colors,'primary')  ;
        }
    }
    &.nav-inverse {
        .nav-item {
            color: map-get($colors , 'white' );
            &.active {
                border-bottom-color: map-get($colors,'white') ;
            }
        }
    }
}

//sprite 精灵图标
.sprite {
    background: url(../images/index.png) no-repeat 0 0;
    background-size: 28.8462rem;
    display: inline-block;
    &.sprite-news {
      width: 1.7692rem;
      height: 1.5385rem;
      background-position: 63.546% 15.517%;
    }
    &.sprite-arrow{
      width: 0.7692rem;
      height: 0.7692rem;
      background-position: 38.577% 52.076%;
    }
  }

// borders
@each $dir in (top, right, bottom, left) {
    .border-#{$dir} {
      border-#{$dir}: 1px solid $border-color;
    }
  }